body { background: #3cc57d; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 45px; display: flex; }
.block-router-0 { color: #cae7c3; font-size: 19px; margin-bottom: 5px; }
.block-auth-1 { color: #da0ee7; font-size: 16px; margin-bottom: 5px; }
.block-search-2 { color: #e817d1; font-size: 18px; margin-bottom: 5px; }
.block-helper-3 { color: #c9d7fe; font-size: 19px; margin-bottom: 5px; }
.block-order-4 { color: #c0e197; font-size: 19px; margin-bottom: 5px; }
.block-uploader-5 { color: #e37fa2; font-size: 15px; margin-bottom: 5px; }
.block-cart-6 { color: #cac6ce; font-size: 17px; margin-bottom: 5px; }
.block-email-7 { color: #25e168; font-size: 12px; margin-bottom: 5px; }
.block-router-8 { color: #b2792f; font-size: 12px; margin-bottom: 5px; }
.block-notify-9 { color: #84e4da; font-size: 15px; margin-bottom: 5px; }